<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mainDiv">
    <h2>Account recovery</h2>
    <p>Changed your phone number or lost <br>
      access to your Facebook account? <br>
      We can help you log in with your <br>
      email</p>
    <div class="email">
      <ion-button (click)="email()" expand="block" shape="round">
        LOG IN WITH EMAIL
      </ion-button>
    </div>
  </div>
</ion-content>