ion-icon{
    font-size: 3rem;
}
ion-thumbnail{
    background: lightgray;
    text-align: center;
}
ion-item {
    margin: 20px 0px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
ion-label{
    margin-left: 10px;
}